language: python
python:
  - "3.6"

env:
  - DJANGO_VERSION=1.11b1
  # - DJANGO_VERSION=1.11b1
# command to install dependencies
install:
  - pip install -q Django==$DJANGO_VERSION --use-mirrors
  - pip install -q -e . --use-mirrors
  - pip install -q -r requirements.text --use-mirrors
# command to run tests
before_script:
  - "pep8 --exclude=migrations --ignore=E501,E225 src"
script: python manage.py test
