{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Home Page{% endblock %}
{% block dropdown %}
<li class="nav-item">
  <a class="nav-link" href="{% url 'register' %}">Register</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{% url 'login' %}">Log In</a>
</li>
{% endblock %}
{% block content %}
<div class="jumbotron">
  <div class="container">
    <h1 class="display-4">Dynamics Man Power</h1>
    <hr class="m-y-md">
    <div class="lead">
      <p>This is some text to show</p>
      <p>Data can be shown here</p>
    </div>
  </div>
</div>
{% endblock %}
