{% extends 'base.html' %}
{% block title %}
Log In
{% endblock %}
{% block hrefbrand %}
{% url 'index' %}
{% endblock %}
{% block dropdown %}
<li class="nav-item">
  <a class="nav-link" href="{% url 'register' %}">Register</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{% url 'login' %}">Log In</a>
</li>
{% endblock %}
{% block content %}
<div class="jumbotron">
  <div class="container">
    <h1 class="display-4">Log In</h1>
    <hr class="m-y-md">
    <div class="lead">
      <p>Select a account to be logged in</p>
    </div>
  </div>
</div>
<div class="container">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="card-block">
            <h3 class="card-title">Log in as Applicant</h3>
            <hr class="m-y-md">
            <p class="card-subtitle mb-2 text-muted">Log in as Applicant to check on requirements and status</p>
            <a class="btn btn-outline-primary" href="{% url 'accounts:applicant-login' %}">Log in Applicant</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-block">
            <h3 class="card-title">Log in as Employee</h3>
            <hr class="m-y-md">
            <p class="card-subtitle mb-2 text-muted">Log in as Employee to view pending jobs and profile</p>
            <a class="btn btn-outline-primary" href="{% url 'accounts:employee-login' %}">Log in Applicant</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-block">
            <h3 class="card-title">Log in as Client</h3>
            <hr class="m-y-md">
            <p class="card-subtitle mb-2 text-muted">Log in as Client to make business transactions</p>
            <a class="btn btn-outline-primary" href="{% url 'accounts:client-login' %}">Log in Client</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
